
.awesome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.awesome span {
  display: inline-block;
}


.awesome > *:nth-child(1) {
color: darkorchid;
font-size:2.5rem;
font-weight: bold;
text-align: center;

} 

.s-button{
    margin-top: 1rem;
    padding: 12px 16px;
}

.cv {
    text-decoration: none;
    text-align: center;
    display: block;
    margin-bottom: 0.5rem;
    margin-inline: auto;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    gap: 3rem;
    margin-top: 2rem;
}



.technologies {
    margin-top: 1.5rem;
    font-size: 1.25rem;
    text-align: center;

}

@media screen and (max-width: 1080px) {
    .technologies {
        max-width: 90%;
        word-wrap: break-word;
    }
}

@media screen and (max-width: 480px) {
.awesome > *:nth-child(1) {
    font-size: 2rem;
}
.awesome > *:nth-child(2) {
    font-size: 1rem;
}
    .cards{
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
}