@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;

}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

:root {
  --yellow: #F5C32C;
  --orange: #FCA61F;
  --black: #242D49;
  --gray: #788097;
  --blueCard: #DDF8FE;
  --purple: rgb(238 210 255);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --orangeCard: rgba(252, 166, 31, 0.45);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App {
  padding: 0.5rem 3.5rem;
  padding-bottom: 0;
  /* overflow: hidden; */
  color: var(--black);
}


@media (max-width: 50rem) {
  .App {
    padding: 1rem;
  }
}

.button {
  min-width: 6rem;
  text-align: center;
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px;
  background-color: #663dff;
  background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
  /* box-shadow: 0px 20px 24px;  */
  transition: all 0.3s ease;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.555);
}

.button:hover {
  background: white;
  cursor: pointer;
  color: darkmagenta;
  outline: 2px solid darkmagenta;
  outline-offset: -2px;
  box-shadow: 0px 0px 0px white;
}